.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C5E99;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFF;
}

.card-project.-blue {
    background-color: #4C5B84;
}

.card-project .logo.-intro {
    width: 120px;
    height: 80px;
}

.card-project.-green {
    background-color: #62c370;
}

.card-project.-green a {
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    color: #FFF;
    text-shadow: 4px 4px 0px #000;
}