.form-contact {
    max-width: 1280px;
    height: 675px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.form-contact .wrap-form {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.span-required {
    font-size: 1.4rem;
    margin: 3px 0 0 1px;
    color: red;
    display: none;
}