.form-contact {
    max-width: 1360px;
    height: 675px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.form-contact .wrap-form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.span-required{
    font-size: 14px;
    margin: 3px 0 0 1px;
    color: red;
    display: none;
}