
.form-contact .wrap-form {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 40px 40px 40px;
}

.span-required {
    font-size: 1.4rem;
    margin: 3px 0 0 1px;
    color: red;
    display: none;
}