.icon-close {
    display: none;
}

@media (max-width: 1100px) {
    .icon-close {
        display: block;
        font-family: 'Press Start 2P', sans-serif;
        color: #fff;
        text-decoration: none;
        font-size: 3.5rem;
    
        transition: transform 100ms linear;
    }
}


.icon-close:hover {
    transform: scale(1.4);
}