.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 4.0rem;
    color: #62C370;
    text-shadow: 4px 4px 0px #000;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align: center;
}

.main-title.-thanks {
    font-size: 3.2rem;
    margin-bottom: 20px;
}