.main-banner {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: #2C3E50;
    height: 800px;
    border-bottom: 10px solid #000;
    
}

.main-banner .wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    width: 640px;
}

.main-banner .main-box {
    margin-bottom: 40px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}

.main-banner .photo-banner {
    width: 528px;
    height: 627px;
    box-shadow: 10px 10px 0px #000;
}