.main-button {
    display: inline-block;
    background-color: #62C370;
    box-shadow: 5px 5px 0 #000000;
    padding: 18px 20px;
    transition: transform 100ms linear;
    font-size: 2.0rem;
    color: #FFF;
    text-decoration: none;
    box-sizing: border-box;
}

.main-button:hover {
    cursor: pointer;
    background-color: #2e6e38;
    transform:scale(1.08);
}

.main-button.-section:hover {
    transform: none;
    background-color: #62C370;
}

.main-button.-contact {
    height: 60px;
    transform: none;
    margin-top: 25px;
    text-align: center;
}