.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3A4042;
    border-bottom: 10px solid #2c3131;
    padding: 10px 20px;
    
}

/* 0 - 1100 */
@media (max-width: 1100px) {
    .main-header > .menu {
    display: none;
}
}

/* 1100 - até aonde dá pra cima */
@media (min-width: 1100px) {
    .main-header > .icon-menu {
        display: none;
    }
}