.skills {
    height: 740px;
    background-color: #62C370;
}

.skills .title {
    color: #FFF;
    text-shadow: none;
    text-align: center;
    padding-top: 50px;
}

.skills .subtitle {
    text-shadow: none;
}

.skills .process {
    width: 320px;
    height: 40px;
    background-color: #FFFFFF;
    border: 5px solid #000000;
}

.listSkills {
    width: 960px;
    height: 480px;
    
}