.skills {
    height: 740px;
    background-color: #62C370;
    border-bottom: 10px solid #3A4042;
}

.skills .title {
    color: #FFF;
    text-shadow: none;
    text-align: center;
    padding-top: 50px;
}

.skills .listSkills {
    margin: 60px 0 0 235px;
    padding: 0;
}

.skills .skillHtml {
    list-style: none;
    display: flex;
    width: 430px;
}

.skills .subtitle {
    text-shadow: none;
    font-size: 25px;
    height: 25px;
    padding-bottom: 16px;
}

.skills .process {
    width: 320px;
    height: 40px;
    background-color: #FFFFFF;
    border: 5px solid #000000;
}

.listSkills {
    width: 960px;
    height: 480px;
}